html {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Syne', sans-serif;
    text-size-adjust: 100%;
}
body{
font-size:16px;
margin:0;
}
.cont-nav{
    position: fixed;
    width:100%;
    z-index: 2;
}
.navbar{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.navbar .logo {
    min-width: 40px;
    width: 40px;
    height: 48px;
    margin-top: 1.5em;
}
.logo img{
    width: 100%;
}
.autocomplete{
    border:none;
}
input#autocomplete-input{
    height:2rem;
}

input:not([type]), input[type=text]:not(.browser-default), 
input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), 
input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), 
input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), 
input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), 
input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), 
textarea.materialize-textarea {
    background-color: #e0e0e0;
    border-radius: 40px;
    outline: none;
   width:90%;
   padding-left: 35px;
}
::placeholder {
    color: #000;
}
.autocomplete:focus {
  outline: none;
}
.navbar a{
   text-decoration: none; 
   color:black;
}
.rightElement{
    padding: 0;
    margin-top: 1.5em;
}
ul li{
    list-style-type: none;
}
.leftElement div{
display:inline;
}
.leftElement{
flex:  3 2;
margin-top:1.5em;
padding: 0.3em 0; 
}
.leftElement .navelement {
    margin-right: 0.688em;
}
.rightElement{
display:flex;
justify-content: flex-end;
box-sizing: border-box;
}
.navelement.search{
    position:relative;
    width: 30%;
    margin-right:2.5em;
}
i.fas.fa-search {
    position: absolute;
    top: 20%;
    left: 10px;
}
.navelement.login a {
    margin-left:0.6em;
    border-radius: 16px;
    margin-right: 1rem;
    min-width: 39px;
}
.drop-dcontent{
    position: absolute;
    display: none;
    width:180px;
    text-align: left;
    padding-left: 8px !important;
    overflow: hidden;
    line-height: 2.2em;
    margin-top: 0.7em;
    background: #fff;
}
.drop-downcontent{
    display:none;
}
a.fas.fa-bars {
    display: none;
}
.drop-d:hover .drop-dcontent{
    display:block;
    transition-delay:3s;
}
.cont-flex button.drop-d:focus {
    background: none;
}
.cont-flex button{
    border: none;
    background-color: #fff;
}
.btn-small{
text-transform: none;
padding: 0 6px;
font-size: 0.9rem;
min-width: fit-content !important;
}
.showcontent{
    position: absolute;
    display:block;
    width:100%;
    margin-left:0.2em;
    margin-top: 1.5em;
}
.showcontent li{
    position: relative;
    margin-top: 1.2em;
    border-bottom: 1px solid rgb(229, 227, 221);
    padding: 20px 5px;
}
.showcontent li:first-of-type {
    border-top: 1px solid rgb(229, 227, 221);
    margin-top: 2em;
}
.showcontent li i.fas.fa-chevron-down {
    position: absolute;
    right: 1.25em;
    top: 1.5em;
}
button.dropdown-side.black-text, button.drop-d{
    border: none;
    background: none;
    padding: 0;
}
.showcontent #close{
   position: absolute;
   right:0.5em;
}
.back-im{
    background-image: url('https://c5.patreon.com/external/marketing/index_page/creativity_over_everything_d.png');
    background-size: contain;
    background-repeat: no-repeat;
    height:500px;
    width:100%;
}
.cont-row{
    margin: 10em auto; 
}

.title-main{
    color: rgb(255, 255, 255);
    font-family: Walsheim, sans-serif;
    margin: 0;
    position: relative;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    text-align: left;
    font-weight: 700;
    font-size: 2.625rem;
    line-height: 1.25;
}
.paragraph{
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    margin: 0.5em 0;
    font-size: 1rem;
    line-height: 1.5;
}
.paragraph2 strong{
    font-weight: 700;
}
.btn-pateron{
    margin-top: 0.6em;
    border-radius:40px;
    text-transform: none;
    width:12rem;
    height: 48px;
    padding-top: 0.5em;
}
col .s2 a{
    margin-left:20px;
}
.photo-desc{
    font-size: 2.125rem;
    font-family: Walsheim, sans-serif;
    font-weight: 700;
}
.container.section-card {
   margin: 5em auto;
}
.card.horizontal.valign-wrapper, .section-card .card {
    box-shadow: none;
}
.card-textimg, .contactus-title{
line-height: 1.25;
font-size: 2.26rem;
font-family: noto sans, sans-serif;
padding:0 0 0 15%;
font-weight: 700;
}
.card-txt-small{
text-align: center;
font-weight: 700;
font-size: 1.625rem;
line-height: 1.25;
}
.name-pic{
    font-family: aktiv-grotesk, sans-serif;
    margin: 0px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
}
.tit-pic{
    font-family: aktiv-grotesk, sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}
.what-is-inner-title, .card-title{
    font-family: noto sans, sans-serif;
    margin-top: 0;
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 1.25;
}
.what-is-inner-text, .text-contact-us{
    font-family: syne, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
}
.who-uses, .my-community{
   margin-top:2em;
   margin-bottom:2em;
}
.cont-flex{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    row-gap:10px;
}
.cont-flex .col{
    margin:0.35em;
    flex: 1 1;
    position:relative;
    width:100%;
}
.cont-flex button{
    display:none;
    border:none;
    box-shadow:none;
    border-radius: 50px; 
    background-color: #afa8a8;
    position:absolute;
    top: 33%;
    left: 25%;
    padding: 10px 15px;
}
.cont-flex button a{
    color:#fff;
}
.who-uses .card-title{
    text-align: center;
}
.who-uses .col:hover button{
    display: inline-block;
} 
.who-uses h1{
    margin: 1em 0;
    font-size: 2.625rem;
    text-align:center;
    line-height: 1.25;
    font-family: Walsheim, sans-serif;
    font-weight: 700;
}
.membership{
	padding:2.8em 0;
}
.membership .center{
    line-height: 1.25;
    font-size: 2.8rem;
    font-family: noto sans, sans-serif;
	font-weight: 700;
}
.btn-membership{
    border-radius: 40px;
    text-transform: none;
}
/* media queries */
@media screen and (max-width:1023px){
    .cont-nav{
    height:112px;
    }
    div.leftElement{
        display:none;
    }
    div.rightElement{
        flex-direction: column-reverse;
        width: 100%;
    }
    .navelement.search{
        width:100%;
        align-self: flex-start;
        position: absolute;
        top: 4.3em;
        left: 0;
        margin: 0.15em 1em;
    }
    .navelement.login {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 0.5em;
    flex-shrink: 1 1;
    }
    a.fas.fa-bars {
    display: inline;
    font-size: 2rem;
    align-self: center;
    }
    .fas.fa-bars:hover .drop-downcontent{
    display: block;
    }
}
/* mediaquery for  */
@media only screen and (max-width: 1023px) and (min-width: 923px) {
	.my-community img{
		width: 4.3em;
	}
}
/* media query for the image card */
@media screen and (max-width: 479px){
	.btn-pateron{
		width:100%;
	}
   .cont-flex .col{
       flex-basis: 46%;
   }
   .card-image.col.s4{
    margin-left: 6em;
    }
    .navelement.search{
       width:90%;
    }
    .membership .center{
    font-size: 1.8rem;
    }  
}
@media screen and (min-width: 480px){

   .cont-flex .col{
       flex-basis: 30%;
   }
   .card-image.col.s4{
    margin-left: 10em;
	}
	.my-community-column-title, .my-community ul li{
   	min-width:192px;
	}
    
}
@media screen and (min-width: 768px){
   .cont-flex .col{
       flex-basis: 23%;
   }
   .title-main{
    line-height: 1.25;
    font-size: 3.5rem;
    }
    .card .card-content {
    padding-left:3em;
    }
    
}
.contact-cont{
    padding:5rem ;
}
.contactus-title {
    padding: 0;
}
p.text-contact-us, .my-community p{
    text-align: center;
    justify-content: center;
}
.btn-contact{
    margin-top: 1.2em;
    border-radius:40px;
    text-transform: none;
    width:10rem;
    height: 48px;
    padding-top: 7px;
}
.my-community-column-title{
margin-top: 0;
margin-bottom: 0;
font-weight: 700;
font-size: 1.625rem;
line-height: 1.25;
}

.my-community ul li{
    margin-top:1em;
}
.rec-my-community-column{
    margin-left:0;
}
.my-community .row{
    margin-top: 5%;
}
.my-community .col.s12.m6.l4{
   text-justify: auto;
   text-overflow: hide;
   margin-top:1.5em;
}
.my-community .center{
        font-family: Walsheim, sans-serif;
        margin: 0px;
        font-weight: 700;
        font-size: 2.625rem;
        line-height: 1.25;
}
.my-community p{
    padding:0 15%;
}

.membership p{
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    padding:0 15%;
    text-align: center;
}
.resources .card-title{
    padding-top:20px;
}
.resources .red-text{
    text-decoration:underline ;
}
.resources .card{
   box-shadow: none;
   
}
.resources p{
    font-family: aktiv-grotesk, sans-serif;
    padding-top:10px 0;
    font-size: 1.3rem;
    margin-bottom: 100px;
}
.resources h1, footer h1{
    font-family: Walsheim, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 2.625rem;
    line-height: 1.25;
    padding: 2% 0;
}
.resources div.center{
    padding-bottom: 10rem;
}
footer .row{
    margin-top: 7.5em;;
}
footer a{
    color:white;
}

.social a{
    padding:5px;
}
footer .left{
    margin-left: 1.25em;
}
.hidden{
    display:none;
}