html {
    font-family: sans-serif;
    text-size-adjust: 100%;
}
body{
font-size:16px !important;
margin:0;
}
.cont-nav{
    position: fixed;
    width:100%;
    z-index: 2;
}
.navbar{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.navbar .logo {
    min-width: 40px;
    width: 40px;
    height: 48px;
    margin-top: 2%;
}
.logo img{
    width: 100%;
}
.autocomplete{
    border:none;
}
input#autocomplete-input{
    height:2rem;
}

input:not([type]), input[type=text]:not(.browser-default), 
input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), 
input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), 
input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), 
input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), 
input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), 
textarea.materialize-textarea {
    background-color: #e0e0e0;
    border-radius: 40px;
    outline: none;
   width:90%;
   padding-left: 35px;
}
::placeholder {
    color: #000;
}
.autocomplete:focus {
  outline: none;
}
.navbar a{
   text-decoration: none; 
   color:black;
}
.rightElement{
    padding: 0;
    margin-top: 2%;
}
ul li{
    list-style-type: none;
}
.leftElement div{
display:inline;
}
.leftElement{
flex:  3 2;
margin-top: 2%;
padding: 10px 0;
}
.leftElement .navelement {
    margin-right: 11px;
}
.rightElement{
display:flex;
justify-content: flex-end;
box-sizing: border-box;
}
.navelement.search{
    position:relative;
    width: 30%;
    margin-right: 40px;
}
i.fas.fa-search {
    position: absolute;
    top: 20%;
    left: 10px;
}
.navelement.login a {
    margin-left: 10px;
    border-radius: 16px;
    margin-right: 1rem;
    min-width: 39px;
}
.drop-dcontent{
    position: absolute;
    display: none;
    width:180px;
    text-align: left;
    padding-left: 8px !important;
    overflow: hidden;
    line-height: 2.2em;
    margin-top: 10px;
    background: #fff;
}
.drop-downcontent{
    display:none;
}
a.fas.fa-bars {
    display: none;
}
.drop-d:hover .drop-dcontent{
    display:block;
    transition-delay:3s;
}
.cont-flex button.drop-d:focus {
    background: none;
}
.cont-flex button{
    border: none;
    background-color: #fff;
}
.btn-small{
text-transform: none;
padding: 0 6px;
font-size: 0.9rem;
min-width: fit-content !important;
}
.showcontent{
    position: absolute;
    display:block;
    width:100%;
    margin-left:2px;
    margin-top: 2em;
}
.showcontent li{
    position: relative;
    margin-top: 1.2rem;
    border-bottom: 1px solid rgb(229, 227, 221);
    padding: 20px 5px;
}
.showcontent li:first-of-type {
    border-top: 1px solid rgb(229, 227, 221);
    margin-top: 30px;
}
.showcontent li i.fas.fa-chevron-down {
    position: absolute;
    right: 20px;
    top: 25px;
}
button.dropdown-side.black-text, button.drop-d{
    border: none;
    background: none;
}
.showcontent #close{
   position: absolute;
   right:13px;
   top:-2%;
}
.back-im{
    background-image: url('https://c5.patreon.com/external/marketing/index_page/creativity_over_everything_d.png');
    background-size: contain;
    background-repeat: no-repeat;
    height:500px;
    width:100%;
}
.cont-row{
    margin: 80px auto !important; 
}

.tit{
    color: rgb(255, 255, 255);
    font-family: Walsheim, sans-serif;
    margin: 0px;
    position: relative;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    text-align: left;
    font-weight: 700 !important;
    font-size: 2.625rem !important;
    line-height: 1.25 !important;

}
.title-section1{
    color: rgb(255, 255, 255);
    font-family: Walsheim, sans-serif;
    margin: 0px;
    position: relative;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    text-align: left;
    font-weight: 700 !important;
    font-size: 2.625rem !important;
    line-height: 1.25 !important;
}
.parag{
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400 !important;
    margin: 0.5rem 0rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
}
.parag2 strong{
    font-weight: 700 !important;
}
.btn-pateron{
    margin-top: 10px;
    border-radius:40px;
    text-transform: none;
    width:12rem;
    height: 48px;
    padding-top: 7px;
}
col .s2 a{
    margin-left:20px;
}
.photo-desc{
    font-size: 2.125rem !important;
    font-family: Walsheim, sans-serif;
    font-weight: 700 !important;
}
.container.section-card {
    margin: 8% 10%;
}
.card.horizontal.valign-wrapper, .section-card .card {
    box-shadow: none;
}
.card-image.col.s4{
    margin-left: 30%;
}
.card-textimg, .contactus-title{
line-height: 1.25 !important;
font-size: 2.125rem !important;
font-family: Walsheim, sans-serif;
padding:0 0 0 15% !important;
font-weight: 700 !important;
}
.card-txtsmall{
text-align: center;
font-weight: 700 !important;
font-size: 1.625rem !important;
line-height: 1.25 !important;
}
.name-pic{
    font-family: aktiv-grotesk, sans-serif;
    margin: 0px;
    font-weight: 700 !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
}
.tit-pic{
    font-family: aktiv-grotesk, sans-serif;
    margin: 0px;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
}
.title-section2, .card-title{
    font-family: Walsheim, sans-serif;
    margin-top: 0;
    font-weight: 700 !important;
    font-size: 1.3125rem !important;
    line-height: 1.25 !important;
}
.text-section2, .text-section4{
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
}
.section-third, .section-fifth {
   margin-top:5%;
   margin-bottom:5%;
}
.cont-flex{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    row-gap:10px;
}
.cont-flex .col{
    margin:5px;
    flex: 1 1;
    position:relative;
    width:100%;
}
.cont-flex button{
    display:none;
    border:none;
    box-shadow:none;
    border-radius: 50px; 
    background-color: #afa8a8;
    position:absolute;
    top: 33%;
    left: 25%;
    padding: 10px 15px;
}
.cont-flex button a{
    color:#fff;
}
.section-third .card-title{
    text-align: center;
}
.section-third .col:hover button{
    display: inline-block;
} 
.section-third h1{
    margin: 2.8rem 0;
    font-size: 2.625rem;
    text-align:center;
    line-height: 1.25;
    font-family: Walsheim, sans-serif;
    font-weight: 700;
}
/* media queries */
@media screen and (max-width:1023px){
    .cont-nav{
    height:100px;
    }
    div.leftElement{
        display:none;
    }
    div.rightElement{
        flex-direction: column-reverse;
        width: 100%;
    }
    .navelement.search{
        width:100%;
        align-self: flex-start;
        position: absolute;
        top: 4rem;
        left: 0;
        margin: 0 1rem;
    }
    .navelement.login {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: .5rem;
    flex-shrink: 1 1;
    }
    a.fas.fa-bars {
    display: inline;
    font-size: 2rem;
    align-self: center;
    }
    .fas.fa-bars:hover .drop-downcontent{
    display: block;
    }
}
/* media query for the image card */
@media screen and (max-width: 479px){
   .cont-flex .col{
       flex-basis: 46%;
   }
    
}
@media screen and (min-width: 480px){

   .cont-flex .col{
       flex-basis: 30%;
   }
    
}
@media screen and (min-width: 768px){

   .cont-flex .col{
       flex-basis: 23%;
   }
   .title-section1{
    line-height: 1.25 !important;
    font-size: 3.5rem !important;
    }
    
}

.contact-cont{
    padding:5rem !important;
}
.contactus-title {
    padding: 0 !important;
}
p.text-section4, .section-fifth p{
    text-align: center;
    justify-content: center;
}
.btn-contact{
    margin-top: 20px;
    border-radius:40px;
    text-transform: none;
    width:10rem;
    height: 48px;
    padding-top: 7px;
}
.fifthcol-title{
margin-top: 0;
margin-bottom: 0;
font-weight: 700 !important;
font-size: 1.625rem !important;
line-height: 1.25 !important;
}

.section-fifth ul li{
    margin-top:1rem;
}
.secfifthcol{
    margin-left:0;
}
.section-fifth .row{
    margin-top: 5%;
}
.section-fifth .col.s12.m6.l4{
   text-justify: auto;
   text-overflow: hide;
   margin-top:1.5rem;
}
.section5tit{
        font-family: Walsheim, sans-serif;
        margin: 0px;
        font-weight: 700 !important;
        font-size: 2.625rem !important;
        line-height: 1.25 !important;
}
.section-fifth p{
    padding:0 15%;
}
.text-section6{
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    padding:0 15%;
    text-align: center;
}
.section7 .card-title{
    padding-top:20px;
}
.section7 .red-text{
    text-decoration:underline ;
}
.section7 .card{
   box-shadow: none !important;
   
}
.section7 p{
    font-family: aktiv-grotesk, sans-serif;
    padding-top:10px 0;
    font-size: 1.3rem;
    margin-bottom: 100px;
}
.section7 h1, footer h1{
    font-family: Walsheim, sans-serif;
    text-align: center;
    font-weight: 700 !important;
    font-size: 2.625rem !important;
    line-height: 1.25 !important;
    padding: 2% 0;
}
.section7 div.center{
    padding-bottom: 10rem;
}
footer .row{
    margin-top: 8rem;;
}
footer a{
    color:white;
}
footer .social{
    margin-left:300px;
}
.social a{
    padding:5px;
}
footer .left{
    margin-left: 20px;
}
.hidden{
    display:none;
}